@model Restorent.ViewsModel.HomeModel

@{
    Layout = "_LayoutMaster";
    ViewData["Title"] = "Menu";
}


<script src="~/assets/js/vendor/modernizr-3.11.7.min.js"></script>



<div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/breath.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>menu</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">menu page </li>
            </ul>
        </div>
    </div>
</div>






<!-------------------- Category and Master Items -----  DONE --------------------->

<div class="product-menu-area pt-100 pb-70 gray-bg">

    <div class="container">


        <div class="section-title text-center mb-50">
            <h2>Our Food Menu</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>


        <!-------------------Category --------  DONE ----------------->

       
       <div class="menu-tab-wrap mb-50">

          <div class="menu-tab-list nav text-center">


             <a class="active" href="#tab1" data-bs-toggle="tab">
                    All item
             </a>

             


             


          @foreach (var item in Model.ListMasterCategoryMenu)
          {

              <a href="#tab@(item.MasterCategoryMenuId)" data-bs-toggle="tab">
                 @item.MasterCategoryMenuName
              </a>
          }


        </div>

    </div>







        <!-------------------- MENU ITEMS -------- DONE ------------------>
    <div class="tab-content jump">
        <div id="tab1" class="tab-pane active">
            <div class="row"> 
                   
                       @foreach (var item in Model.ListMasterItemMenu)
                       {
                          <div class="col-lg-6">

                            <div class="single-menu-product mb-30">

                                <div class="menu-product-img">

                                    <img alt="" src="~/Admin/assets/img/@item.MasterItemMenuImageUrl">

                                </div>


                                <div class="menu-product-content">


                                    <div class="menu-title-price">


                                        <div class="menu-title">

                                            <h4>
                                                @item.MasterItemMenuTitle
                                                @*Lamb Salad with Fregola.*@
                                            </h4>

                                        </div>


                                        <div class="menu-price">

                                            <span>   @*$100*@
                                             @item.MasterItemMenuPrice $
                                            </span>

                                        </div>

                                    </div>

                                    <p>
                                        @*Categories: Subway, Masala, Indian*@
                                        @item.MasterItemMenuDesc
                                    </p>

                                </div>
                             </div>
                          </div>

                         
                       }

                  </div>
              </div>




              <!--To link the category with spacfic items -->
            @foreach (var MasterCategor in Model.ListMasterCategoryMenu)
            {
                <div id="tab@(@MasterCategor.MasterCategoryMenuId)" class="tab-pane">

                    <div class="row">

                        @foreach (var item in Model.ListMasterItemMenu)
                        {
                            @if (item.MasterCategoryMenuId == MasterCategor.MasterCategoryMenuId)
                            {

                                <div class="col-lg-6">
                                    <div class="single-menu-product mb-30">


                                        <div class="menu-product-img">
                                            <img alt="" src="~/Admin/assets/img/@item.MasterItemMenuImageUrl">
                                        </div>


                                        <div class="menu-product-content">
                                            <div class="menu-title-price">


                                                <div class="menu-title">

                                                    <h4>
                                                        @item.MasterItemMenuTitle
                                                    </h4>

                                                </div>

                                                <div  class="menu-price">

                                                    <span class="item" data-price="">
                                                    @item.MasterItemMenuPrice $ 
                                                    </span>

                                                </div>


                                            </div>

                                            <p>@item.MasterItemMenuDesc</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        } 


                    </div>
                 </div>

            }







            <div class="menu-tab-wrap mb-50">

                <div as class="menu-tab-list nav text-center">

                    <h3 id="totalPrice" >Total Price : </h3>



                </div>

            </div>








    </div>



</div>









<!--------------------The Master Partner -----  DONE --------------------->


<div class="brand-logo-area ptb-100">
    <div class="container">
        <div class="brand-logo-active owl-carousel">


            @foreach (var item in Model.ListMasterPartner)
            {
                <div class="single-brand-logo">


                    <img alt="" src="/Admin/assets/img/@item.MasterPartnerLogoImageUrl">


                </div>

            }

        </div>
    </div>
</div>

  @*  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



    <script>
        // Wait for the DOM to be ready
        document.addEventListener('DOMContentLoaded', function () {
            // Get all items
            var items = document.querySelectorAll('.item');

            // Initialize total price
            var totalPrice = 0;

            // Loop through each item
            items.forEach(function (item) {
                // Add click event listener to each item
                item.addEventListener('click', function () {
                    // Get the price of the clicked item
                    var price = parseFloat(item.getAttribute('data-price'));

                    // Update total price
                    totalPrice += price;

                    // Update the total price display
                    document.getElementById('totalPrice').textContent = 'Total Price: $' + totalPrice;
                });
            });
        });
    </script>
*@